@charset "utf-8";
/* 추가 */
/* 추가 */
/* 추가 */

/* introducing oz */
.main_sec03{margin-top:120px; padding:0 20px; display:inline-block; position:relative;}
.main_sec03 .intro_box{width:1200px; margin:60px auto; padding:20px 0; background:url(../images/main/bg_intro.png) right top no-repeat;}
.main_sec03 .intro_box dl{}
.main_sec03 .intro_box dl dt{margin-top:35px; font-size:20px; font-weight:700; color:#333;}
.main_sec03 .intro_box dl dt:first-child{margin-top:0;}
.main_sec03 .intro_box dl dd{margin-top:15px; font-size:16px; font-weight:500; color:#666;}
.main_sec03 .intro_box span{display:inline-block; margin-top:40px; padding:8px 25px; background-color:#bbb; font-family:'Noto Sans KR',Arial,'Malgun Gothic',sans-serif; font-size:20px; color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
/* why bitoz */
.main_sec04{position:relative; width:1200px; margin:120px auto 0;}
.main_sec04:after{content:''; display:block; clear:both;}
.main_sec04:before{content:''; display:block; position:absolute; top:40px; left:0; z-index:-1; width:527px; height:527px; background-color:#f9f6fa; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.main_sec04 .inner{position:relative; float: right; margin:70px 0 0 0;}
.main_sec04 .inner .inner_desc{position:absolute; top: 30px; left:300px;}
.main_sec04 .inner .inner_desc p{font-size:20px; color:#666;}
.main_sec04 .inner .inner_desc p strong{display: block; margin-bottom: 20px; font-size:30px; color:#000; font-weight:700;}
.main_sec04 .inner .inner_phone{position:absolute; top:0; left:0; z-index:10; width:237px; height:468px; background-image:url(../images/main/bg_phone.png); background-repeat:no-repeat; background-color:transparent; -webkit-filter:drop-shadow(-22px 23px 50px rgba(0, 0, 0, 0.25)); filter:drop-shadow(-22px 23px 50px rgba(0, 0, 0, 0.25));}
.main_sec04 .inner .inner_phone .phone_box{width:180px; height:240px; margin-top: 200px;}
.main_sec04 .inner .inner_phone .phone_box ul{width:100%;}
.main_sec04 .inner .inner_phone .phone_box ul li{position:relative; background-image: linear-gradient(143deg, #bf3c90 0%, #353464 100%); text-align:center; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.main_sec04 .inner .inner_phone .phone_box ul li p{width:80px; height:80px; line-height:80px; margin:45px auto 22px; background-color:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.main_sec04 .inner .inner_phone .phone_box ul li div{height:48px; font-size:16px; font-weight:500; color:#fff;}
.main_sec04 .inner .inner_phone .phone_box ul li div span{display: block; position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.main_sec04 .inner .inner_phone .phone_box ul li p img{vertical-align:middle;}
.main_sec04 .inner .inner_phone .phone_box ul li div{height:48px; font-size:16px; font-weight:500; color:#fff;}
.main_sec04 .inner .inner_phone .phone_box ul li div span{display: block; position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.main_sec04 .inner .inner_list{width:996px; margin:0 0 0 50px; margin-top: 200px;}
.main_sec04 .inner .inner_list ul{width:100%;}
.main_sec04 .inner .inner_list ul li{position:relative; width:180px; height:240px; border:solid 1px #dbdbdb; background-color:#fff; text-align:center; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
.main_sec04 .inner .inner_list ul li p{width:80px; height:80px; line-height:80px; margin:45px auto 22px; background-color:#f4e6f2; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}
.main_sec04 .inner .inner_list ul li p img{vertical-align:middle;}
.main_sec04 .inner .inner_list ul li div{height:48px; font-size:16px; font-weight:500;}
.main_sec04 .inner .inner_list ul li div span{display:block; position:relative; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
.main_sec04 .inner .inner_list_nav{display:none;}
/* footer */
footer{margin-top:120px; padding:60px 20px; background-color:#2a2d34;}
footer .footer_inner{width:1200px; margin:0 auto;}
footer .footer_inner:after{content:''; display:block; clear:both;}
footer .footer_inner div{float:left; width:33.33%; font-family:'Noto Sans KR',Arial,'Malgun Gothic',sans-serif; vertical-align:top;}
footer .footer_inner div:first-child{margin-left:0;}
footer .footer_inner div h3{font-size:20px; font-weight:700; color:#fff;}
footer .footer_inner div ul{margin-top:25px;}
footer .footer_inner div ul li{margin-top:15px; font-size:16px;}
footer .footer_inner div ul li:first-child{margin-top:0;}
footer .footer_inner div ul li a{color:#999; -webkit-transition: all .2s ease; transition: all .2s ease;}
footer .footer_inner div ul li a:hover{border-bottom:solid 1px #fff; color:#fff;}
footer .footer_inner div.community ul{max-width:180px;}
footer .footer_inner div.community ul:after{content:''; display:block; clear:both;}
footer .footer_inner div.community ul li{float:left; margin:0 20px 20px 0;}
footer .footer_inner div.community ul li a{display:block; overflow:hidden; width:24px; height:24px; background-color:#545a67; background-repeat:no-repeat; background-position:center; text-indent:-9999px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -webkit-transition: all .2s ease; transition: all .2s ease;}
footer .footer_inner div.community ul li a:hover{background-color:#fff;}
footer .footer_inner div.community ul li:nth-child(1) a{background-image:url(../images/main/ic_f_link01.png); background-size:14px 14px;}
footer .footer_inner div.community ul li:nth-child(1) a:hover{background-image:url(../images/main/ic_f_link01_on.png);}
footer .footer_inner div.community ul li:nth-child(2) a{background-image:url(../images/main/ic_f_link02.png); background-size:8px 14px;}
footer .footer_inner div.community ul li:nth-child(2) a:hover{background-image:url(../images/main/ic_f_link02_on.png);}
footer .footer_inner div.community ul li:nth-child(3) a{background-image:url(../images/main/ic_f_link03.png); background-size:14px 11px;}
footer .footer_inner div.community ul li:nth-child(3) a:hover{background-image:url(../images/main/ic_f_link03_on.png);}
footer .footer_inner div.community ul li:nth-child(4) a{background-image:url(../images/main/ic_f_link04.png); background-size:14px 10px;}
footer .footer_inner div.community ul li:nth-child(4) a:hover{background-image:url(../images/main/ic_f_link04_on.png);}
footer .footer_inner div.community ul li:nth-child(5) a{background-image:url(../images/main/ic_f_link05.png); background-size:14px 14px;}
footer .footer_inner div.community ul li:nth-child(5) a:hover{background-image:url(../images/main/ic_f_link05_on.png);}
footer .footer_inner div.community ul li:nth-child(6) a{background-image:url(../images/main/ic_f_link06.png); background-size:14px 12px;}
footer .footer_inner div.community ul li:nth-child(6) a:hover{background-image:url(../images/main/ic_f_link06_on.png);}
/* bottom menu */
.menu_m_bottom{visibility:hidden;}
/* event banner */
.event_banner{position:fixed; left:20px; bottom:40px; z-index:10;}
.event_banner.pos{position:absolute;}
/* side */
.side_fix_menu{position:fixed; right:0; bottom:40px; z-index:10;}
.side_fix_menu.pos{position:absolute;}
.side_fix_menu .box{display:block; position:relative; width:165px; height:160px; margin-right:20px;}
.side_fix_menu .box:before{content:''; display:block; position:absolute; width:100%; height:100%; background:url(../images/main/img_box.png) no-repeat; -webkit-transition:all .3s ease; transition:all .3s ease;}
.side_fix_menu .box:after{content:''; display:block; position:absolute; width:100%; height:100%; opacity:0; -webkit-transform:translateY(15px); transform:translateY(15px); background:url(../images/main/img_box_on.png) no-repeat; -webkit-transition:all .1s ease; transition:all .3s ease;}
.side_fix_menu .box:hover:before{-webkit-transform:translateY(-15px); transform:translateY(-15px); opacity:0;}
.side_fix_menu .box:hover:after{-webkit-transform:translateY(0); transform:translateY(0); opacity:1;}
.side_fix_menu .chat{display:inline-block; float:right; width:56px; height:56px; line-height:56px; margin:35px 75px 0 0; background-color:#fff; text-align:center; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -webkit-box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.2); box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.2);}
.side_fix_menu .chat img{vertical-align:middle;}

.nav{position:absolute; left:50%; bottom:30px; -webkit-transform: translateX(-50%); transform:translateX(-50%);}
.nav a{margin:0 20px;}
.nav a.swiper-button-disabled{display:none;}

/*** responsive ***/
@media screen and (max-width:800px) {
    /*** common ***/
    #wrap{padding-bottom:90px;}
    /*** header ***/
    header{position:fixed; z-index:100; -webkit-transition:all .2s ease; transition:all .2s ease;}
    header.scroll{background-color:#140d41;}
    header .nav_p{display:none;}
    header .util{display:none;}
    header .header_inner{max-width:100%; height:58px;}
    header .header_inner h1{position:absolute; top:50%; left:20px; width:84px; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
    header .menu_btn_m{display:block; position:absolute; top:50%; right:12px; width:40px; height:40px; background:url(../images/main/btn_nav_m.svg) 50% 50% no-repeat; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
    header .menu_m{position:fixed; top:0; bottom:0; z-index:20; width:100%;}
    header .menu_m .menu_m_inner{position:relative; z-index:30; float:right; width:80%; height:100%; background-color:#fff; -webkit-transform:translateX(100%); transform:translateX(100%); -webkit-transition:all .2s ease; transition:all .2s ease;}
    header .menu_m .menu_m_bg{width:100%; height:100%; opacity:0; background-color:rgba(0, 0, 0, 0.5); -webkit-transition:all .3s ease; transition:all .3s ease;}
    header .menu_m .menu_m_close{float:right;}
    header .menu_m.open{visibility:visible;}
    header .menu_m.open .menu_m_inner{-webkit-transform:translateX(0); transform:translateX(0);}
    header .menu_m.open .menu_m_bg{opacity:1;}

    /*** main ***/
    h2.hd_main{padding:0 20px; font-size:24px;}
    .desc_main{margin-top:10px; font-size:16px;}
    /* visual */
    .main_visual{height:600px; padding:0 20px; background-size:cover;}
    .main_visual .visual_inner{width:auto; max-width:480px; padding-top:170px;}
    .main_visual .visual_inner p.tit{line-height:36px; font-size:30px;}
    .main_visual .visual_inner p.tit strong{line-height:50px; font-size:40px;}
    .main_visual .visual_inner p.desc{margin-top:40px; font-size:15px;}
    .main_visual .visual_inner .started{width:176px; padding:14px 0; border:solid 1px #fff; background-color:transparent; font-size:18px; -webkit-box-shadow:none; box-shadow:none;}
    /* brand */
    .main_sec01{margin:60px auto 0; padding:0;}
    .main_sec01 .list{width:100%; height:380px; margin:30px auto 0;}
    .main_sec01 .list .box{width:240px; height:280px; margin:20px 10px 0;}
    .main_sec01 .list .box.s1 div p{width:97px; height: 84px;}
    .main_sec01 .list .box.s2 div p{width:82px; height: 84px;}
    .main_sec01 .list .box.s3 div p{width:87px; height: 84px;}
    .main_sec01 .list .box div span.tit{margin-top:30px; font-size: 22px;}
    .main_sec01 .list .box div span.desc{width:80%; margin:5px auto 0; font-size:14px;}
    .main_sec01 .list .box div span.desc br{display: none;}
    .main_sec01 .list .box.swiper-slide-active,.main_sec01 .list .box.active{height:320px;}
    /* price */
    .main_sec02{margin-top:10px; padding:60px 20px 80px;}
    .main_sec02 .tab_box{width:100%; margin:20px auto 0;}
    .main_sec02 .tab_box ul li{display:inline-block; margin:0 16px; padding-bottom:10px; font-size:16px; color:#666;}
    .main_sec02 .tab_box .more{display: none;}
    .main_sec02 .list_box{width:auto; margin:30px auto 0;}
    .main_sec02 .list_box ul li{width:auto; height:200px; margin-left:0;}
    .main_sec02 .list_box ul li a{display:block; padding:14px 16px; font-size:12px; font-weight:500; color:#666;}
    .main_sec02 .list_box ul li a .name .name_all{float:none;}
    .main_sec02 .list_box ul li a .name .name_all span:first-child{font-size:16px;}
    .main_sec02 .list_box ul li a .name .name_all span:last-child{font-size:14px; vertical-align:bottom;}
    .main_sec02 .list_box ul li a .name .price{float:none; font-size:16px;}
    .main_sec02 .list_box ul li a .rate{margin-top:4px;}
    .main_sec02 .list_box ul li a .chart{left:0;}
    .main_sec02 .slide_paging{display:block; margin-top:30px; text-align:center;}
    .main_sec02 .slide_paging .swiper-pagination-bullet{width:8px; height:8px; margin:0 3px; background-color:#ccc; opacity:1;}
    .main_sec02 .slide_paging .swiper-pagination-bullet-active{background-color:#333;}
    /* introducing oz */
    .main_sec03{margin-top:60px; padding:0;}
    .main_sec03 .desc_main{text-align:left;}
    .main_sec03 .desc_main br{display:none;}
    .main_sec03 .intro_box{width:auto; margin:30px auto 0; padding:0 20px 90px; background:url(../images/main/bg_intro_m.png) right bottom no-repeat;}
    .main_sec03 .intro_box dl dt{margin-top:30px; font-size:18px; color:#000;}
    .main_sec03 .intro_box dl dd{margin-top:10px; font-size:14px;}
    .main_sec03 .intro_box dl dd br{display:none;}
    .main_sec03 .intro_box span{padding:8px 22px; font-size:16px;}
    /* why bitoz */
    .main_sec04{overflow:hidden; width:auto; margin:60px auto 0;}
    .main_sec04:before{position:absolute; top:45px; left:50%; width:500px; height:500px; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
    .main_sec04 .inner{overflow:hidden; float:none; margin:50px 0 0 0;}
    .main_sec04 .inner .inner_desc{position:static; margin-top:60px; padding:0 20px;}
    .main_sec04 .inner .inner_desc p{font-size:16px;}
    .main_sec04 .inner .inner_desc p strong{margin-bottom:10px; font-size:22px;}
    .main_sec04 .inner .inner_phone{position:absolute; left:50%; width:202px; height:400px; background-size:202px 400px; -webkit-transform:translateX(-50%); transform:translateX(-50%); -webkit-filter:drop-shadow(-22px 23px 50px rgba(0, 0, 0, 0.15)); filter:drop-shadow(-22px 23px 50px rgba(0, 0, 0, 0.15));}
    .main_sec04 .inner .inner_phone .phone_box{position:absolute; left:23px; bottom:30px; width:156px; height:208px; margin-top:0;}
    .main_sec04 .inner .inner_phone .phone_box ul li p{width:72px; height:72px; line-height:72px; margin:40px auto 10px;}
    .main_sec04 .inner .inner_phone .phone_box ul li div{height:40px; font-size:14px; font-weight:500;}

    .main_sec04 .inner .inner_list{position:relative; width:auto; margin:0; margin-top:161px;}
    .main_sec04 .inner .inner_list ul li{position:relative; width:156px; height:208px; margin:0;}
    .main_sec04 .inner .inner_list ul li p{width:72px; height:72px; line-height:72px; margin:40px auto 10px;}
    .main_sec04 .inner .inner_list ul li div{height:40px; font-size:14px; font-weight:500;}
    .main_sec04 .inner .inner_list_nav{display:block;}
    .main_sec04 .inner .inner_list_nav span{display:block; position:absolute; z-index:10; top:50%; -webkit-transform:translateY(-45%); transform:translateY(calc(-50% + 5px));}
    .main_sec04 .inner .inner_list_nav span img{width:42px;}
    .main_sec04 .inner .inner_list_nav .prev{left:0;}
    .main_sec04 .inner .inner_list_nav .next{right:0;}
    /* .main_sec04 .inner .inner_list .swiper-slide-active{margin:0 20px !important;} */
    /* .main_sec04 .inner .inner_list .swiper-slide-next{margin-left:9px;}
    .main_sec04 .inner .inner_list .swiper-slide-prev{margin-right:34px;} */


    /* footer */
    footer{display:none;}

    /* bottom menu */
    .menu_m_bottom{visibility:visible; position:fixed; bottom:0; width:100%; height:60px; z-index:10; background-color:#2a2d34; color:#9b9b9b; -webkit-transition:all .2s ease; transition:all .2s ease;}

    /* event banner */
    .event_banner{display:none;}
    /* side */
    .side_fix_menu{display:none;}
}

